.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
  }
  
  .drinkable {
    background-color: #4CAF50; /* Green background for drinkable */
    color: rgb(255, 255, 255);
    margin-top: 2vh;
    margin-left: 35vw;
    font-weight:bold;
    font-size:25px;
    width: 20vw;
    padding: 10px;
    border-radius: 25px;
    text-align: center; /* Center align text */
    margin-bottom: 2vh;
    box-shadow: 0 5px 5px 10px rgba(0, 0, 0, 0.2); /* Add elevation (shadow) */
  }
  .water{
    font-size: 20px;
    font-weight:bolder;
    color: rgb(0, 0, 0);
  }
  .not-drinkable {
    background-color: #db4c39; /* Green background for drinkable */
    color: rgb(247, 247, 248);
    margin-top: 2vh;
    margin-left: 35vw;
    font-weight:bold;
    font-size:25px;
    width: 20vw;
    padding: 10px;
    border-radius: 25px;
    text-align: center; /* Center align text */
    box-shadow: 0 5px 5px 10px rgba(0, 0, 0, 0.2); /* Add elevation (shadow) */
  }
  
  .parameter-container {
    background-color: #6e5dce; /* Background color for parameter values */
    padding: 10px;
    border-radius: 5px;
    display: flex;
    height: 15vh;
    justify-content: space-between; /* Create three columns for values */
    margin-top: 2vh;
    margin-left: 25vw;
    width: 40vw;
    box-shadow: 0 5px 5px 10px rgba(0, 0, 0, 0.2); /* Add elevation (shadow) */
  }
  .par{
    color: aliceblue;
    font-weight: bolder;
    font-size: 20px;
}
.val{
      font-weight: bolder;
    color: aliceblue;
    font-size: 25px;
  }
  